/composer.lock
/package-lock.json
/node_modules
/vendor
/dist

/schemes/left.colorscheme
/schemes/right.colorscheme
/schemes/normal.colorscheme
/schemes/bright.colorscheme
/schemes/old.colorscheme
/schemes/one.colorscheme
/schemes/two.colorscheme
/schemes/ubuntu-breeze.colortable
