/* Name: name */

:root {
    --colorBg: #000; /*      background */
    --colorFg: #ccc; /*      coreground */
    --color0:  #000; /*      black      */
    --color1:  #c00; /*      red        */
    --color2:  #0c0; /*      green      */
    --color3:  #cc0; /*      yellow     */
    --color4:  #00c; /*      blue       */
    --color5:  #c0c; /*      purple     */
    --color6:  #0cc; /*      cyan       */
    --color7:  #ccc; /*      white      */
    --color8:  #000; /* bold black      */
    --color9:  #f00; /* bold red        */
    --color10: #0f0; /* bold green      */
    --color11: #ff0; /* bold yellow     */
    --color12: #00f; /* bold blue       */
    --color13: #f0f; /* bold purple     */
    --color14: #0ff; /* bold cyan       */
    --color15: #fff; /* bold white      */
}
