/* Name: HiQolor Normal */

:root {
    --colorBg: #000000; /*      background */
    --colorFg: #b6afaf; /*      foreground */
    --color0:  #333333; /*      black      */
    --color1:  #d51073; /*      red        */
    --color2:  #179617; /*      green      */
    --color3:  #d66b00; /*      yellow     */
    --color4:  #1818af; /*      blue       */
    --color5:  #b01cb0; /*      purple     */
    --color6:  #00bdbd; /*      cyan       */
    --color7:  #ccd1c7; /*      white      */
    --color8:  #666666; /* bold black      */
    --color9:  #ff5252; /* bold red        */
    --color10: #8cd742; /* bold green      */
    --color11: #e1e147; /* bold yellow     */
    --color12: #4087ce; /* bold blue       */
    --color13: #ab74e2; /* bold purple     */
    --color14: #84ebb8; /* bold cyan       */
    --color15: #e7e7e4; /* bold white      */
}

