body {
    font-family:Hack;
    font-size:14px;
    color: var(--colorFg);
    background-color: var(--colorBg);
}

B {
    font-weight: normal;
}

PRE {
  white-space: pre;
}

SELECT {
    background-color: var(--colorBg);
    color: var(--colorFg);
}

INPUT {
    width: 50px;
    background-color: var(--colorBg);
    color: var(--colorFg);
    border:1px solid var(--colorFg);
}

TD, TH {
    padding: 1px 7px;
}
