body {
    font-family:Hack;
    font-size:14px;
    color: var(--colorFg);
    background-color: var(--colorBg);
    padding-top:10px;
}

B {
    font-weight: normal;
}

LABEL {
    font-weight: bold;
}

PRE {
    font-size: 100%;
    line-height: 1.22;
}

SELECT {
    background-color: var(--colorBg);
    color: var(--colorFg);
}

INPUT {
    width: 50px;
    background-color: var(--colorBg);
    color: var(--colorFg);
    border:1px solid var(--colorFg);
}

INPUT[type=hex] {
    width: 70px;
}

INPUT[type=color] {
    border-color: var(--colorBg);
    -webkit-appearance: none;
    padding:0;
}
input[type=color]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type=color]::-webkit-color-swatch {
	border: none;
}

TD, TH {
    padding: 1px 7px;
}

#form TD {
    white-space: nowrap;
}

#syntax-demo TD {
    padding: 0px;
}

#syntax-demo .next-item TD {
    padding-top: 7px;
}
